.btn_hov {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_hov:hover {
  background: #fe6c00;
  color: #ffffff;
  text-decoration: none;
}
@font-face {
  font-family: open_sans;
  src: url('../fonts/open-sans.regular.ttf');
}
@font-face {
  font-family: roboto_medium;
  src: url('../fonts/RobotoMedium.ttf');
}
@font-face {
  font-family: roboto_light;
  src: url('../fonts/RobotoLight.ttf');
}
@font-face {
  font-family: roboto_thin;
  src: url('../fonts/roboto-thin.ttf');
}
@font-face {
  font-family: raleway_black;
  src: url('../fonts/RALEWAY-BLACK.TTF');
}
@font-face {
  font-family: DINCyr;
  src: url('../fonts/DINRegularAlternate.ttf');
}
@font-face {
  font-family: open_sans_bold;
  src: url('../fonts/open-sans.bold.ttf');
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'open_sans';
  font-size: 14px;
  color: #3b3b3b;
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  height: 210px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  footer {
    height: 300px;
  }
}
.pre_footer {
  padding-bottom: 210px;
}
@media screen and (max-width: 991px) {
  .pre_footer {
    padding-bottom: 300px;
  }
}
h1,
h2,
h3 {
  font-family: 'roboto_medium';
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 60px;
}
h1.larg {
  font-size: 100px;
}
h2 {
  font-size: 36px;
}
h2.small {
  font-size: 30px;
}
h2.larg {
  font-size: 83px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 18px;
  font-family: 'roboto_medium';
  margin-top: 0;
  margin-bottom: 0;
}
.align_center {
  text-align: center;
}
.align_left {
  text-align: left;
}
.align_right {
  text-align: right;
}
a {
  color: #3b3b3b;
  font-size: 13px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: #ff7a18;
  text-decoration: none !important;
}
span {
  font-size: 13px;
}
a:active,
a:visited,
a:focus {
  outline: none;
}
button {
  width: 200px;
  font-size: 18px;
  font-family: 'roboto_thin';
  text-transform: uppercase;
  padding: 12px 0;
  cursor: pointer;
  text-align: center;
  display: block;
}
button:hover {
  text-decoration: none !important;
  color: #ffffff !important;
}
button:visited,
button:focus {
  color: #ffffff !important;
  text-decoration: none !important;
}
.inline {
  display: inline-block;
}
.up {
  text-transform: uppercase;
}
.container-fluid {
  padding: 0 5%;
}
.container-fluid.full_width {
  padding: 0;
}
.img_wrapper {
  overflow-y: hidden;
}
.img_wrapper img {
  width: 100%;
  height: auto;
}
.modal {
  padding-right: 0 !important;
}
.modal .modal-dialog {
  margin-left: auto;
  margin-right: auto;
}
.modal .modal-header {
  display: block;
  margin: 0 auto;
  border: none;
  position: relative;
}
.modal .modal-header .modal-title {
  text-align: center;
}
.modal .modal-header .close {
  width: auto;
  position: absolute;
  right: 50px;
  top: 0;
  opacity: .6;
}
.modal .modal-header .close:hover {
  background: none;
  opacity: 1;
}
.modal .modal-content {
  background: transparent;
  padding: 45px 0;
  margin: auto;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.modal form {
  padding: 0 75px;
}
.modal form input:not([type="submit"]),
.modal form textarea {
  border: 1px solid #3b3b3b;
  border-right: none;
  border-left: none;
  border-top: none;
  margin-top: 0;
  background: transparent;
  display: block;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 30px;
}
.modal form input:not([type="submit"])::-webkit-input-placeholder,
.modal form textarea::-webkit-input-placeholder {
  color: #3b3b3b;
  font-size: 16px;
}
.modal form input:not([type="submit"])::-moz-placeholder,
.modal form textarea::-moz-placeholder {
  color: #3b3b3b;
  font-size: 16px;
}
.modal form input:not([type="submit"]):-moz-placeholder,
.modal form textarea:-moz-placeholder {
  color: #3b3b3b;
  font-size: 16px;
}
.modal form input:not([type="submit"])::-moz-placeholder,
.modal form textarea::-moz-placeholder {
  color: #3b3b3b;
  font-size: 16px;
}
.modal form input:not([type="submit"]):-moz-placeholder,
.modal form textarea:-moz-placeholder {
  color: #3b3b3b;
  font-size: 16px;
}
.modal form input[type="submit"] {
  padding: 13px;
  width: 100%;
  background: #ff7a18;
  border: none;
  color: #ffffff;
  font-family: 'roboto_medium';
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.modal form input[type="submit"]:hover {
  background: #fe6c00;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .modal form input[type="submit"] {
    width: 100%;
    padding: 17px;
  }
  .modal form input:not([type="submit"])::-webkit-input-placeholder,
  .modal form textarea::-webkit-input-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .modal form input:not([type="submit"])::-moz-placeholder,
  .modal form textarea::-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .modal form input:not([type="submit"]):-moz-placeholder,
  .modal form textarea:-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .modal form input:not([type="submit"])::-moz-placeholder,
  .modal form textarea::-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .modal form input:not([type="submit"]):-moz-placeholder,
  .modal form textarea:-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
}
@media screen and (max-width: 991px) {
  .modal form {
    padding: 0 30px;
  }
}
@media screen and (max-width: 991px) {
  .modal .modal-dialog {
    width: 90%;
  }
  .modal .modal-dialog .modal-content form input:not([type="submit"])::-webkit-input-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .modal .modal-dialog .modal-content form input:not([type="submit"])::-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .modal .modal-dialog .modal-content form input:not([type="submit"]):-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .modal .modal-dialog .modal-content form input:not([type="submit"])::-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .modal .modal-dialog .modal-content form input:not([type="submit"]):-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
}
@media screen and (max-width: 320px) {
  .modal .modal-dialog {
    width: 95%;
  }
  .modal .modal-dialog .modal-content form {
    padding: 0 10px;
    width: 100%;
  }
}
.circle_sticker {
  position: relative;
}
.circle_sticker::after {
  content: '2';
  background: #9eda36;
  font-family: 'open_sans_bold';
  color: #ffffff;
  font-size: 10px;
  width: 17px;
  height: 17px;
  display: block;
  position: absolute;
  padding: 1.3px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
}
.circle_sticker::after {
  top: -2px;
  right: -10px;
}
@media screen and (max-width: 991px) {
  .circle_sticker::after {
    top: 20px;
    right: -15px;
  }
}
.carousel-control {
  text-shadow: none !important;
  box-shadow: none !important;
  background-image: none !important;
  text-decoration: none !important;
}
.base_form {
  display: block;
  margin: 0 auto;
}
.base_form input:not([type="submit"]),
.base_form textarea {
  border: 1px solid #3b3b3b;
  border-right: none;
  border-left: none;
  border-top: none;
  margin-top: 0;
  background: transparent;
  display: block;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 30px;
}
.base_form input:not([type="submit"])::-webkit-input-placeholder,
.base_form textarea::-webkit-input-placeholder {
  color: #3b3b3b;
  font-size: 16px;
}
.base_form input:not([type="submit"])::-moz-placeholder,
.base_form textarea::-moz-placeholder {
  color: #3b3b3b;
  font-size: 16px;
}
.base_form input:not([type="submit"]):-moz-placeholder,
.base_form textarea:-moz-placeholder {
  color: #3b3b3b;
  font-size: 16px;
}
.base_form input:not([type="submit"])::-moz-placeholder,
.base_form textarea::-moz-placeholder {
  color: #3b3b3b;
  font-size: 16px;
}
.base_form input:not([type="submit"]):-moz-placeholder,
.base_form textarea:-moz-placeholder {
  color: #3b3b3b;
  font-size: 16px;
}
.base_form input[type="submit"] {
  padding: 13px;
  width: 100%;
  background: #ff7a18;
  border: none;
  color: #ffffff;
  font-family: 'roboto_medium';
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.base_form input[type="submit"]:hover {
  background: #fe6c00;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .base_form input[type="submit"] {
    width: 100%;
    padding: 17px;
  }
  .base_form input:not([type="submit"])::-webkit-input-placeholder,
  .base_form textarea::-webkit-input-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .base_form input:not([type="submit"])::-moz-placeholder,
  .base_form textarea::-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .base_form input:not([type="submit"]):-moz-placeholder,
  .base_form textarea:-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .base_form input:not([type="submit"])::-moz-placeholder,
  .base_form textarea::-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
  .base_form input:not([type="submit"]):-moz-placeholder,
  .base_form textarea:-moz-placeholder {
    color: #3b3b3b;
    font-size: 26px;
  }
}
.background_gray {
  background: #f9f9f9;
}
.base_background {
  background: #ff7a18;
}
.img_center {
  display: block;
  margin: 0 auto;
}
.text_gray {
  color: #acacac;
}
.small_font {
  font-size: 13px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.list_inline {
  list-style: none;
}
.list_inline li {
  display: inline-block;
}
.section_capt_center {
  text-align: center;
}
.section_capt_center .row {
  position: relative;
}
.section_capt {
  margin-top: 50px;
  margin-bottom: 40px;
  position: relative;
  text-align: left;
}
.section_capt h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 0;
}
.section_capt .return {
  position: absolute;
  right: 100px;
  top: 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.section_capt .return i {
  font-size: 25px;
  padding-right: 15px;
  vertical-align: bottom;
}
.section_capt .return span {
  font-family: 'roboto_medium';
  padding-top: 10px;
  text-transform: uppercase;
}
.section_capt .return:hover {
  color: #ff7a18;
  text-decoration: none !important;
}
@media screen and (max-width: 1500px) {
  .section_capt .return {
    right: 80px;
  }
}
.section_capt .row {
  position: relative;
}
.section_capt h2 {
  margin: 0;
}
.section_capt h2.white {
  color: #ffffff;
}
.section_capt .back_link {
  position: absolute;
  top: 40%;
  right: 0;
}
.section_capt .back_link span {
  font-size: 20px;
  color: #ff7a18;
  margin-left: 15px;
}
.section_capt .back_link img {
  margin-top: 3px;
}
@media screen and (max-width: 991px) {
  .section_capt .back_link {
    right: auto;
    left: 25px;
    top: 1%;
  }
  .section_capt .return {
    left: 5%;
    right: auto;
  }
  .section_capt .return i {
    font-size: 45px;
    color: #ff7a18;
  }
}
.light_text {
  font-family: 'roboto_light';
}
.no_marg {
  margin: 0;
}
.separate {
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #e3e3e3;
  margin: 35px 0;
}
.separate.black {
  border-color: #3b3b3b;
}
.btn_base {
  font-family: 'roboto_medium';
  font-size: 11px;
  display: block;
  height: 42px;
  text-transform: uppercase;
}
.grid_5 {
  width: 20%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media screen and (max-width: 991px) {
  .mobile_full_width {
    padding: 0;
  }
}
.sprite_social {
  background-image: url('../img/social_sprite.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite_social.sprite_social-social_fb {
  background-position: -5px -5px;
  width: 30px;
  height: 20px;
}
.sprite_social.sprite_social-social_odn {
  background-position: -5px -35px;
  width: 30px;
  height: 20px;
}
.sprite_social.sprite_social-social_vk {
  background-position: -45px -5px;
  width: 30px;
  height: 20px;
}
.sprite_social.sprite_social-social_youtube {
  background-position: -45px -35px;
  width: 30px;
  height: 20px;
}
.news {
  background: #f9f9f9;
  padding: 70px 0 70px 0;
}
.news.news_widget {
  margin-bottom: 30px;
}
.news .section_capt {
  margin-bottom: 45px;
  margin-top: -25px;
}
.news .news_list {
  padding: 0 120px 0 55px;
  border: 8px solid transparent;
  -moz-border-image: url('../img/news_border.png') 10 round round;
  -webkit-border-image: url('../img/news_border.png') 10 round round;
  -o-border-image: url('../img/news_border.png') 10 round round;
  border-image: url('../img/news_border.png') 10 round round;
  padding-bottom: 45px;
}
.news .news_list .news_date {
  margin-bottom: 20px;
}
.news .news_list .news_date span {
  font-size: 20px;
}
.news .news_list .news_date i {
  color: #ff7a18;
  font-size: 26px;
  margin-left: 15px;
  vertical-align: middle;
  padding-bottom: 5px;
}
.news .news_lg_item {
  padding: 0 100px 0 55px;
}
.news .news_lg_item .news_title {
  margin-top: 20px;
  margin-bottom: 45px;
}
.news .news_lg_item .news_content p {
  margin-bottom: 45px;
}
.news .news_lg_item .news_content p:last-of-type {
  margin-bottom: 65px;
}
.news .news_content {
  line-height: 1.7;
}
.category.category_widget {
  margin-bottom: 90px;
}
.category .category_wrapper:not(:first-of-type) {
  padding-left: 30px;
}
.category .category_wrapper .category_item {
  display: block;
  height: 220px;
  position: relative;
  text-align: right;
}
.category .category_wrapper .category_item.blue {
  background: #33b5cb;
}
.category .category_wrapper .category_item.green {
  background: #9eda36;
}
.category .category_wrapper .category_item.orange {
  background: #ff7a18;
}
.category .category_wrapper .category_item.yellow {
  background: #ffde1f;
}
.category .category_wrapper .category_item img {
  display: inline-block;
}
.category .category_wrapper .category_item .item_summary {
  display: inline-block;
  position: absolute;
  left: 10%;
  bottom: 30px;
  padding: 10px 15px;
  background: #3c3c3c;
  color: #ffffff;
  font-family: 'roboto_medium';
  font-size: 20px;
}
.video {
  background: url('../img/video_cover.jpg') no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}
footer {
  padding-top: 85px;
  background: #f0f0f0;
}
footer .footer_phone h3 {
  font-size: 22px;
}
footer i {
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
footer i:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
}
.accordion_menu {
  padding: 19px;
  cursor: pointer;
  position: relative;
  width: 50%;
  height: 60px;
  text-align: center;
}
.accordion_menu .caption {
  color: #ffffff;
  display: inline-block;
}
.accordion_menu .arrow {
  color: #ffffff;
  font-size: 15px;
  margin-top: 3px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.accordion_menu .second_level_menu {
  display: none;
  width: 100%;
  position: absolute;
  bottom: -235px;
  left: 0;
  padding-top: 45px;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.accordion_menu .second_level_menu li {
  margin-bottom: 45px;
}
.accordion_menu .second_level_menu li a {
  font-size: 18px;
  color: #ffffff;
  position: relative;
}
.accordion_menu .second_level_menu li a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: #ffffff;
  position: absolute;
  bottom: -5px;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.accordion_menu .second_level_menu li a:hover::after {
  width: 100%;
}
.accordion_menu:hover .arrow {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.accordion_menu:hover .second_level_menu {
  display: block;
  opacity: 1;
}
.nav_toggle > span {
  background: #ffffff;
  width: 25px;
  height: 2px;
  margin-bottom: 6px;
  display: block;
}
.nav_toggle span {
  margin-bottom: 5px;
}
.nav_toggle.black > span {
  background: #3b3b3b;
  width: 36px;
  height: 3px;
  margin-bottom: 6px;
  display: block;
}
.top_nav {
  height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_nav .search {
  color: #3b3b3b;
  font-size: 18px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.top_nav .search:hover {
  color: #ff7a18;
  text-decoration: none !important;
}
@media screen and (max-width: 991px) {
  .top_nav {
    display: block;
    background: #ff7a18;
    width: 65%;
    height: 100%;
    padding: 50px 0 50px 5%;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: scroll;
    text-transform: uppercase;
    font-size: 20px;
    opacity: 0;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
  }
  .top_nav.active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    opacity: 1;
  }
  .top_nav > li {
    display: block;
    margin-bottom: 40px;
  }
  .top_nav > li a {
    position: relative;
    color: #ffffff;
    font-size: 20px;
  }
  .top_nav > li a.active {
    color: #ffffff;
  }
  .top_nav > .close_toggle {
    position: absolute;
    top: 25px;
    right: 10%;
    cursor: pointer;
  }
  .top_nav .search i {
    color: #ffffff;
  }
  .top_nav .close_toggle {
    position: absolute;
    right: 50px;
    top: 40px;
  }
  .top_nav .close_toggle i {
    color: #ffffff;
    font-size: 36px;
  }
}
@media screen and (max-width: 991px) {
  header .main_header {
    height: 105px;
    padding: 10px 0;
  }
  header .brand {
    display: block;
    margin: 0 auto;
  }
  header .brand .media-heading {
    font-size: 30px;
    color: #ff7a18;
  }
  header .brand .media {
    overflow: visible;
  }
  header .brand .media .media-body {
    vertical-align: top;
  }
}
.header_mobile {
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  background: #f9f9f9;
  text-align: center;
}
.header_mobile .nav_mobile {
  display: block;
  padding: 35px 0;
}
.header_mobile .nav_mobile > span {
  display: block;
  width: 40px;
  height: 4px;
  background: #3b3b3b;
  margin-bottom: 8px;
}
.header_mobile .logo_mobile {
  display: inline-block;
  padding: 17px 0;
}
.header_mobile .logo_mobile .brand {
  margin-right: 10px;
}
.header_mobile .logo_mobile .brand_text h3 {
  color: #ff7a18;
  font-family: 'roboto_medium';
  font-size: 30px;
  margin: 15px 0 5px 0;
}
.header_mobile .cart_mobile {
  padding-top: 30px;
}
.main_header {
  height: 60px;
  border-bottom: 1px solid #f2f2f2;
}
.second_header {
  padding: 50px;
}
.second_header .brand .media-body {
  vertical-align: middle;
}
.second_header .brand .brand_caption {
  font-size: 30px;
  color: #ff7a18;
}
.second_header .header_contact h3 {
  font-size: 22px;
  line-height: 1.4;
}
.second_header .header_contact,
.second_header .header_adress {
  padding-top: 10px;
}
.second_header .header_cart {
  padding-top: 15px;
}
.second_header .header_cart .media {
  overflow: visible;
}
.second_header .header_cart .media-body {
  vertical-align: middle;
  padding-left: 20px;
}
.second_header .header_cart span strong {
  font-family: 'open_sans_bold';
}
.carousel {
  position: relative;
}
.main_carousel .carousel-indicators {
  top: 40%;
  left: 10%;
  width: auto;
  height: auto;
  margin-left: auto;
}
.main_carousel .carousel-indicators > li {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #ff7a18;
}
.main_carousel .carousel-indicators > li.active {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  background: #ff7a18;
}
.main_carousel .carousel-indicators li {
  display: block;
}
.main_carousel .carousel-inner .item {
  height: 520px;
}
.main_carousel .carousel-inner .item .carousel-caption {
  top: 15%;
  bottom: auto;
  left: 19%;
  right: auto;
  text-align: left;
}
.main_carousel .carousel-inner .item .carousel-caption h2.small {
  font-family: 'roboto_thin';
  color: #3b3b3b;
  text-shadow: none;
}
.main_carousel .carousel-inner .item .carousel-caption h1.larg {
  font-family: 'raleway_black';
  color: #9eda36;
  text-shadow: none;
}
.main_carousel .carousel-inner .item .carousel-caption h2.larg {
  font-family: 'roboto_thin';
  color: #3b3b3b;
  text-shadow: none;
}
.main_carousel .carousel-inner .item .carousel-caption .example_text {
  font-size: 16px;
  text-shadow: none;
  margin-top: 100px;
  position: relative;
}
.main_carousel .carousel-inner .item .carousel-caption .example_text::before {
  content: '';
  display: block;
  position: absolute;
  top: -50px;
  width: 50px;
  background: #3b3b3b;
  height: 2px;
}
.category_controls {
  position: absolute;
  right: 20px;
  top: 20px;
}
.category_controls a {
  opacity: .7;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.category_controls a:hover {
  opacity: 1;
}
.category_controls a:first-child {
  margin-right: 10px;
}
#categoryCarousel .carousel-inner {
  height: 500px;
}
.shop_items .wrapper {
  padding: 10px 0;
  padding-left: 10px;
  overflow: visible;
}
.shop_items .shop_item {
  position: relative;
  width: 90%;
  height: 370px;
  padding: 40px 0;
  cursor: pointer;
  box-shadow: 0 0 10px 6px #f9f9f9;
  -webkit-box-shadow: 0 0 10px 6px #f9f9f9;
  -moz-box-shadow: 0 0 10px 6px #f9f9f9;
  -o-box-shadow: 0 0 10px 6px #f9f9f9;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.shop_items .shop_item:hover {
  box-shadow: inset 0 0 0 1px #ff7a18;
  -webkit-box-shadow: inset 0 0 0 1px #ff7a18;
  -moz-box-shadow: inset 0 0 0 1px #ff7a18;
  -o-box-shadow: inset 0 0 0 1px #ff7a18;
}
.shop_items .shop_item:not(:first-child) {
  margin-left: 20px;
}
.shop_items .shop_item .item_title {
  height: 45px;
  padding: 0 35px;
  margin-bottom: 25px;
}
.shop_items .shop_item .item_title p {
  font-size: 16px;
}
.shop_items .shop_item .item_thumb {
  height: 190px;
}
.shop_items .shop_item .item_price {
  margin-top: 15px;
  padding: 0 35px;
  padding-right: 20px;
}
.shop_items .shop_item .item_price h3 {
  font-family: 'roboto_thin';
}
.shop_items .shop_item .item_price h3 i {
  font-size: 20px;
  font-weight: 100;
}
.shop_items .shop_item .hide_btn {
  padding-top: 15px;
  position: absolute;
  bottom: -55px;
  height: 85px;
  width: 100%;
  display: none;
  opacity: 0;
  z-index: 1000;
  background: #ffffff;
  box-shadow: inset 0 -1px 0 1px #ff7a18;
  -webkit-box-shadow: inset 0 -1px 0 1px #ff7a18;
  -moz-box-shadow: inset 0 -1px 0 1px #ff7a18;
  -o-box-shadow: inset 0 -1px 0 1px #ff7a18;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.shop_items .shop_item:hover .hide_btn {
  display: block;
  opacity: 1;
}
.base_btn {
  width: 200px;
  font-size: 18px;
  font-family: 'roboto_thin';
  text-transform: uppercase;
  padding: 12px 0;
  cursor: pointer;
  text-align: center;
  background: #ff7a18;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.base_btn:hover {
  background: #fe6c00;
  color: #ffffff;
  text-decoration: none;
}
.base_btn.order_btn {
  background-image: url('../img/order_icon.png');
  background-repeat: no-repeat;
  background-position: 10% 50%;
}
.btn_transparent {
  display: block;
  width: 200px;
  font-size: 18px;
  font-family: 'roboto_thin';
  text-transform: uppercase;
  padding: 12px 0;
  cursor: pointer;
  text-align: center;
  background: transparent;
  color: #ff7a18;
  border: 2px solid #ff7a18;
  font-weight: 900;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn_transparent:hover {
  color: #ffffff;
  background-color: #ff7a18;
  text-decoration: none !important;
}
.btn_transparent i {
  margin-left: 20px;
  font-size: 25px;
}
