.btn_hov {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_hov:hover {
  background: #fe6c00;
  color: #ffffff;
  text-decoration: none;
}
@font-face {
  font-family: open_sans;
  src: url('../fonts/open-sans.regular.ttf');
}
@font-face {
  font-family: roboto_medium;
  src: url('../fonts/RobotoMedium.ttf');
}
@font-face {
  font-family: roboto_light;
  src: url('../fonts/RobotoLight.ttf');
}
@font-face {
  font-family: roboto_thin;
  src: url('../fonts/roboto-thin.ttf');
}
@font-face {
  font-family: raleway_black;
  src: url('../fonts/RALEWAY-BLACK.TTF');
}
@font-face {
  font-family: DINCyr;
  src: url('../fonts/DINRegularAlternate.ttf');
}
@font-face {
  font-family: open_sans_bold;
  src: url('../fonts/open-sans.bold.ttf');
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'open_sans';
  font-size: 14px;
  color: #3b3b3b;
  position: relative;
  min-height: 100%;
}
@media screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }
}
footer {
  position: absolute;
  bottom: 0;
  height: 210px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  footer {
    height: 175px;
  }
}
.pre_footer {
  padding-bottom: 210px;
}
@media screen and (max-width: 991px) {
  .pre_footer {
    padding-bottom: 175px;
  }
}
p.medium {
  font-size: 16px;
}
@media screen and (max-width: 991px) {
  p.medium {
    font-size: 18px;
  }
}
h1,
h2,
h3 {
  font-family: 'roboto_medium';
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 60px;
}
h1.larg {
  font-size: 100px;
}
@media screen and (max-width: 991px) {
  h1.larg {
    font-size: 85px;
  }
}
@media screen and (max-width: 510px) {
  h1.larg {
    font-size: 65px;
  }
}
h2 {
  font-size: 36px;
}
h2.small {
  font-size: 30px;
}
h2.larg {
  font-size: 83px;
}
@media screen and (max-width: 991px) {
  h2.larg {
    font-size: 68px;
  }
}
@media screen and (max-width: 510px) {
  h2.larg {
    font-size: 48px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 26px;
}
h3.small {
  font-size: 23px;
}
h4 {
  font-size: 18px;
  font-family: 'roboto_medium';
  margin-top: 0;
  margin-bottom: 0;
}
.base_color {
  color: #ff7a18;
}
.align_center {
  text-align: center;
}
.align_left {
  text-align: left;
}
.align_right {
  text-align: right;
}
a {
  color: #3b3b3b;
  font-size: 13px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: #ff7a18;
  text-decoration: none !important;
}
span {
  font-size: 13px;
}
a:active,
a:visited,
a:focus {
  outline: none;
}
button {
  width: 200px;
  font-size: 18px;
  font-family: 'roboto_light';
  text-transform: uppercase;
  padding: 12px 0;
  cursor: pointer;
  text-align: center;
  display: block;
}
button:hover {
  text-decoration: none !important;
}
button:visited,
button:focus {
  color: #ffffff !important;
  text-decoration: none !important;
}
.inline {
  display: inline-block;
}
.up {
  text-transform: uppercase;
}
.container-fluid {
  padding: 0 5%;
}
.container-fluid.full_width {
  padding: 0;
}
.img_wrapper {
  overflow-y: hidden;
}
.img_wrapper img {
  width: 100%;
  height: auto;
}
.check {
  display: block;
  width: 16px;
  height: 16px;
  background: url('../img/check.png') no-repeat;
  background-size: cover;
}
.circle_sticker {
  position: relative;
}
.circle_sticker::after {
  content: '2';
  background: #9eda36;
  font-family: 'open_sans_bold';
  color: #ffffff;
  font-size: 10px;
  width: 17px;
  height: 17px;
  display: block;
  position: absolute;
  padding: 1.3px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
}
.circle_sticker::after {
  top: -2px;
  right: -10px;
}
@media screen and (max-width: 991px) {
  .circle_sticker::after {
    top: 20px;
    right: -15px;
  }
}
.carousel-control {
  text-shadow: none !important;
  box-shadow: none !important;
  background-image: none !important;
  text-decoration: none !important;
}
.background_gray {
  background: #fafafa;
}
.base_background {
  background: #ff7a18;
}
.img_center {
  display: block;
  margin: 0 auto;
}
.text_gray {
  color: #acacac;
}
.small_font {
  font-size: 13px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.list_inline {
  list-style: none;
}
.list_inline li {
  display: inline-block;
}
.section_capt_center {
  text-align: center;
}
.section_capt_center .row {
  position: relative;
}
.section_capt {
  padding-top: 50px;
  padding-bottom: 40px;
  position: relative;
  text-align: left;
}
.section_capt.small_padd {
  padding-top: 30px;
  padding-bottom: 20px;
}
.section_capt.medium_padd {
  padding-top: 35px;
  padding-bottom: 35px;
}
.section_capt.no_marg_bot {
  padding-bottom: 0;
}
.section_capt.no_bord {
  border: none;
}
.section_capt h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 0;
}
.section_capt .return {
  position: absolute;
  right: 100px;
  top: 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.section_capt .return i {
  font-size: 25px;
  padding-right: 15px;
  vertical-align: bottom;
}
.section_capt .return span {
  font-family: 'roboto_medium';
  padding-top: 10px;
  text-transform: uppercase;
}
.section_capt .return:hover {
  color: #ff7a18;
  text-decoration: none !important;
}
@media screen and (max-width: 1500px) {
  .section_capt .return {
    right: 80px;
  }
}
.section_capt .row {
  position: relative;
}
.section_capt h2 {
  letter-spacing: -2px;
  margin: 0;
}
.section_capt h2.white {
  color: #ffffff;
}
.section_capt .back_link {
  position: absolute;
  top: 30%;
  right: 0;
}
.section_capt .back_link span {
  font-size: 20px;
  color: #ff7a18;
  margin-left: 15px;
}
.section_capt .back_link img {
  margin-top: 3px;
}
@media screen and (max-width: 991px) {
  .section_capt {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
  }
  .section_capt .back_link {
    right: auto;
    left: 25px;
    top: 30px;
  }
  .section_capt.mob_h3_size {
    text-align: left;
  }
  .section_capt.mob_h3_size h2 {
    font-size: 26px;
  }
  .section_capt .return {
    left: 5%;
    right: auto;
  }
  .section_capt .return i {
    font-size: 45px;
    color: #ff7a18;
  }
}
.light_text {
  font-family: 'roboto_light';
  font-weight: 100;
}
.no_marg {
  margin: 0;
}
.separate {
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #e3e3e3;
  margin: 35px 0;
}
.separate.black {
  border-color: #3b3b3b;
}
.btn_base {
  font-family: 'roboto_medium';
  font-size: 11px;
  display: block;
  height: 42px;
  text-transform: uppercase;
}
.grid_5 {
  width: 20%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media screen and (max-width: 991px) {
  .mobile_full_width {
    padding: 0;
  }
}
@media screen and (max-width: 991px) {
  .mobile_full {
    width: 100% !important;
    float: left;
  }
}
@media screen and (max-width: 991px) {
  .mobile_fluid {
    width: 100% !important;
  }
}
.sprite_social {
  background-image: url('../img/social_sprite.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite_social.sprite_social-social_fb {
  background-position: -5px -5px;
  width: 30px;
  height: 20px;
}
.sprite_social.sprite_social-social_odn {
  background-position: -5px -35px;
  width: 30px;
  height: 20px;
}
.sprite_social.sprite_social-social_vk {
  background-position: -45px -5px;
  width: 30px;
  height: 20px;
}
.sprite_social.sprite_social-social_youtube {
  background-position: -45px -35px;
  width: 30px;
  height: 20px;
}
.sprite_contact {
  background-image: url('../img/contact_sprite.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite_contact.sprite_contact-contact_mail {
  background-position: -5px -5px;
  width: 55px;
  height: 57px;
}
.sprite_contact.sprite_contact-contact_marker {
  background-position: -70px -5px;
  width: 46px;
  height: 56px;
}
.sprite_contact.sprite_contact-contact_phone {
  background-position: -70px -71px;
  width: 55px;
  height: 55px;
}
.sprite_views {
  background-image: url('../img/sprite_catalog_views.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite_views.sprite_views-view_lg_gray {
  background-position: -5px -5px;
  width: 16px;
  height: 16px;
}
.sprite_views.sprite_views-view_lg_green {
  background-position: -31px -5px;
  width: 16px;
  height: 16px;
}
.sprite_views.sprite_views-view_list_gray {
  background-position: -5px -31px;
  width: 22px;
  height: 17px;
}
.sprite_views.sprite_views-view_list_green {
  background-position: -57px -5px;
  width: 22px;
  height: 17px;
}
.sprite_count {
  background-image: url('../img/sprite_social_count.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite_count.sprite_count-count_fb {
  background-position: -5px -5px;
  width: 19px;
  height: 16px;
}
.sprite_count.sprite_count-count_tw {
  background-position: -34px -5px;
  width: 18px;
  height: 15px;
}
.sprite_count.sprite_count-count_vk {
  background-position: -34px -30px;
  width: 23px;
  height: 13px;
}
.news {
  background: #fafafa;
  padding: 70px 0 70px 0;
}
.news.news_widget {
  margin-bottom: 30px;
}
.news .section_capt {
  margin-bottom: 45px;
  margin-top: -25px;
  padding: 0;
}
.news .news_list {
  padding: 0 120px 0 55px;
  border: 8px solid transparent;
  -moz-border-image: url('../img/news_border.png') 1 round round;
  -webkit-border-image: url('../img/news_border.png') 1 round round;
  -o-border-image: url('../img/news_border.png') 1 round round;
  border-image: url('../img/news_border.png') 1 round round;
  padding-bottom: 45px;
}
.news .news_list .news_date {
  margin-bottom: 20px;
}
.news .news_list .news_date span {
  font-size: 20px;
}
.news .news_list .news_date i {
  color: #ff7a18;
  font-size: 26px;
  margin-left: 15px;
  vertical-align: middle;
  padding-bottom: 5px;
}
.news .news_lg_item {
  padding: 0 100px 0 55px;
}
.news .news_lg_item .news_title {
  margin-top: 20px;
  margin-bottom: 45px;
}
.news .news_lg_item .news_content p {
  margin-bottom: 45px;
}
.news .news_lg_item .news_content p:last-of-type {
  margin-bottom: 65px;
}
.news .news_content {
  line-height: 1.7;
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .news .news_list {
    padding-left: 25px;
  }
}
@media screen and (max-width: 991px) {
  .news {
    padding-bottom: 50px;
  }
  .news.news_widget {
    margin-bottom: 0;
  }
  .news .section_capt {
    margin-top: 0;
  }
  .news .news_list {
    border: 8px solid #9eda36;
    -moz-border-image: none;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    padding-top: 35px;
  }
  .news .news_list .news_date span {
    color: #3b3b3b;
  }
  .news .news_list .news_content p {
    font-size: 16px;
  }
  .news .news_lg_item {
    padding-top: 50px;
  }
}
.category.category_widget {
  margin-bottom: 90px;
}
.category .category_wrapper:not(:first-of-type) {
  padding-left: 30px;
}
.category .category_wrapper .category_item {
  display: block;
  height: 220px;
  position: relative;
  text-align: right;
}
.category .category_wrapper .category_item.blue {
  background: #33b5cb;
}
.category .category_wrapper .category_item.green {
  background: #9eda36;
}
.category .category_wrapper .category_item.orange {
  background: #ff7a18;
}
.category .category_wrapper .category_item.yellow {
  background: #ffde1f;
}
.category .category_wrapper .category_item img {
  display: inline-block;
}
.category .category_wrapper .category_item .item_summary {
  display: inline-block;
  position: absolute;
  left: 10%;
  bottom: 30px;
  padding: 10px 15px;
  background: #3c3c3c;
  color: #ffffff;
  font-family: 'roboto_medium';
  font-size: 20px;
}
.video {
  background: url('../img/video_cover.jpg') no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}
@media screen and (max-width: 991px) {
  .video iframe {
    height: 305px;
  }
}
footer {
  padding-top: 85px;
  background: #fafafa;
}
footer .footer_phone h3 {
  font-size: 22px;
}
footer i {
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
footer i:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
}
@media screen and (max-width: 991px) {
  footer {
    padding-left: 25px;
    padding-top: 70px;
  }
  footer .footer_copy span {
    font-size: 16px;
  }
  footer .footer_phone h3 {
    margin-bottom: 30px;
  }
}
.contacts_page {
  margin-bottom: 90px;
}
@media screen and (max-width: 991px) {
  .contacts_page {
    margin-bottom: 5px;
  }
}
.contact_info {
  border: 1px solid #f2f2f2;
  border-bottom: none;
  padding: 45px 0;
}
.contact_info .info_item {
  text-align: center;
}
.contact_info .info_item .info_icon {
  height: 75px;
  margin-bottom: 15px;
}
.contact_info .info_item .info_icon i {
  display: inline-block;
}
@media screen and (max-width: 991px) {
  .contact_info {
    border: none;
  }
  .contact_info .info_item {
    text-align: left;
  }
  .contact_info .info_item .info_icon {
    text-align: center;
  }
  .contact_info .info_item .info_text {
    padding-left: 30px;
    padding-top: 20px;
  }
}
.map_container #map {
  height: 600px;
}
.contact_main .form_container {
  height: 600px;
  padding: 50px 0;
  border: 10px solid transparent;
  -moz-border-image: url('../img/contact_border.png') 10 repeat repeat;
  -webkit-border-image: url('../img/contact_border.png') 10 repeat repeat;
  -o-border-image: url('../img/contact_border.png') 10 repeat repeat;
  border-image: url('../img/contact_border.png') 10 repeat repeat;
}
.contact_main .form_container .contact_form {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .contact_main .form_container {
    height: auto;
    -moz-border-image: none;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
  }
  .contact_main .form_container .contact_form {
    width: 90%;
  }
}
.order_page .form_container {
  border: 1px solid #f2f2f2;
  margin-bottom: 90px;
  padding: 70px 0;
}
.order_page .form_container .order_form {
  width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .order_page .form_container {
    margin-bottom: 5px;
    border: none;
  }
  .order_page .form_container .order_form {
    width: 85%;
  }
}
.sort_row {
  margin-bottom: 30px;
  padding: 15px 30px;
}
.sort_row .sort li {
  margin-right: 15px;
}
.sort_row .sort li a.active {
  color: #ff7a18;
}
.sort_row .views li {
  margin-left: 18px;
}
.sort_row .views li a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.sort_row .views li a:hover {
  filter: brightness(110%);
  -moz-filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
@media screen and (max-width: 991px) {
  .sort_row {
    background: transparent;
    margin: 30px 0;
    padding: 0;
  }
  .sort_row .sort {
    float: none !important;
    text-align: center;
  }
  .sort_row .sort a,
  .sort_row .sort li {
    font-size: 16px;
  }
}
.catalog_page .shop_items {
  margin-bottom: 63px;
}
.catalog_list .shop_more {
  margin-top: 45px;
}
.catalog_list .sort_row {
  margin-bottom: 0;
}
.shop_more {
  margin-bottom: 60px;
}
.shop_more a {
  display: block;
  margin: 0 auto;
}
.cart {
  margin-bottom: 80px;
}
.cart > .container {
  border: 1px solid #f2f2f2;
}
.cart .cart_item {
  padding: 70px 50px 30px 50px;
  border-bottom: 1px solid #f2f2f2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart .result_row {
  padding: 30px 0;
}
.cart .result_row h2 {
  margin: 15px 0 20px 0;
}
@media screen and (max-width: 991px) {
  .cart {
    margin-top: 35px;
  }
  .cart > .container {
    border: none;
  }
}
.cart .count span {
  float: left;
  border: 1px solid #f2f2f2;
  padding: 12px 0;
  text-align: center;
}
.cart .count .char {
  cursor: pointer;
  width: 45px;
  height: 45px;
}
.cart .count .result {
  width: 70px;
  height: 45px;
}
.cart .item_title p {
  line-height: 1.6;
}
.cart_mobile_item {
  width: 80%;
  height: 285px;
  box-shadow: 0 0 10px 6px #f9f9f9;
  -webkit-box-shadow: 0 0 10px 6px #f9f9f9;
  -moz-box-shadow: 0 0 10px 6px #f9f9f9;
  -o-box-shadow: 0 0 10px 6px #f9f9f9;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}
.cart_mobile_item > div {
  height: 285px;
}
.cart_mobile_item .item_thumb {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_mobile_item .item_thumb img {
  display: block;
  margin: 0 auto;
}
.cart_mobile_item .item_summary {
  padding: 20px 15px 40px 15px;
}
.cart_mobile_item .item_summary .item_title {
  margin-bottom: 30px;
}
.cart_mobile_item .item_summary .count {
  margin-bottom: 30px;
}
@media screen and (max-width: 520px) {
  .cart_mobile_item .item_summary .count .char {
    width: 35px;
    height: 45px;
  }
  .cart_mobile_item .item_summary .count .result {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 400px) {
  .cart_mobile_item {
    height: 340px;
  }
  .cart_mobile_item .item_summary {
    height: 340px;
    padding: 10px 5px 0 0;
  }
}
.mobile_result_row {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.mobile_result_row .result {
  margin-bottom: 35px;
}
.item_page {
  margin-bottom: 90px;
}
.item_page .item_post {
  margin-bottom: 30px;
}
.item_page .item_post .item_prev {
  width: 48.75%;
  margin-right: 2.5%;
  height: 590px;
  padding: 50px 0 65px 0;
  box-shadow: 0 0 10px 6px #f9f9f9;
  -webkit-box-shadow: 0 0 10px 6px #f9f9f9;
  -moz-box-shadow: 0 0 10px 6px #f9f9f9;
  -o-box-shadow: 0 0 10px 6px #f9f9f9;
}
.item_page .item_options {
  width: 48.75%;
  height: 590px;
  padding: 45px 0;
}
.item_page .item_options .options_header {
  padding-left: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}
.item_page .item_options .options_header h2 {
  margin-bottom: 15px;
}
.item_page .item_options .options_header .check {
  margin-right: 15px;
  vertical-align: middle;
  display: inline-block;
}
.item_page .item_options .option_list {
  padding-left: 60px;
  padding-top: 35px;
}
.item_page .item_options .option_list ul li {
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .item_page .item_options {
    background: transparent;
    height: auto;
    padding-bottom: 0;
  }
  .item_page .item_options .options_header {
    padding-right: 60px;
  }
  .item_page .item_options .options_header .item_count {
    text-align: right;
  }
  .item_page .item_options .options_header .item_count span {
    font-size: 18px;
  }
  .item_page .item_options .option_list {
    background: #fafafa;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 450px) {
  .item_page .item_options .options_header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .item_page .item_options .option_list {
    padding-left: 10px;
  }
}
@media screen and (max-width: 991px) {
  .item_page .item_post .item_prev {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    height: 425px;
  }
}
.item_add_review {
  height: 450px;
  width: 48.75%;
  margin-right: 2.5%;
  padding: 40px;
}
.item_add_review .form_heading {
  margin-bottom: 15px;
}
.item_add_review .raiting {
  margin-bottom: 20px;
}
.item_add_review .raiting span {
  margin-right: 20px;
}
.item_add_review .raiting i {
  color: #acacac;
  margin-right: 5px;
  font-size: 18px;
  cursor: pointer;
}
.item_add_review .raiting i.active {
  color: #ff7a18;
}
@media screen and (max-width: 991px) {
  .item_add_review {
    height: auto;
  }
  .item_add_review h3 {
    text-align: left;
  }
  .item_add_review .raiting i {
    font-size: 25px;
  }
  .item_add_review .btn_transparent {
    float: left !important;
  }
}
.item_about {
  width: 48.75%;
  padding-left: 60px;
  padding-top: 20px;
}
.item_about .summary h3 {
  margin-bottom: 20px;
}
.item_about .summary span {
  line-height: 1.7;
}
@media screen and (max-width: 991px) {
  .item_about {
    padding-bottom: 60px;
  }
  .item_about .summary span {
    font-size: 16px;
  }
}
.accordion_menu {
  padding: 18px;
  cursor: pointer;
  position: relative;
  width: 50%;
  height: 55px;
  text-align: center;
}
.accordion_menu .caption {
  color: #ffffff;
  display: inline-block;
}
.accordion_menu .arrow {
  color: #ffffff;
  font-size: 15px;
  margin-top: 3px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.accordion_menu .second_level_menu {
  display: none;
  width: 100%;
  padding-left: 80px;
  position: absolute;
  bottom: -240px;
  left: 0;
  padding-top: 45px;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-align: left;
}
.accordion_menu .second_level_menu li {
  margin-bottom: 45px;
}
.accordion_menu .second_level_menu li a {
  font-size: 18px;
  color: #ffffff;
  position: relative;
}
.accordion_menu .second_level_menu li a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: #ffffff;
  position: absolute;
  bottom: -5px;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.accordion_menu .second_level_menu li a:hover::after {
  width: 100%;
}
.accordion_menu:hover .arrow {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.accordion_menu:hover .second_level_menu {
  display: block;
  opacity: 1;
}
.nav_toggle > span {
  background: #ffffff;
  width: 25px;
  height: 2px;
  margin-bottom: 6px;
  display: block;
}
.nav_toggle span {
  margin-bottom: 5px;
}
.nav_toggle.black > span {
  background: #3b3b3b;
  width: 36px;
  height: 3px;
  margin-bottom: 6px;
  display: block;
}
.top_nav {
  height: 55px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_nav .search {
  color: #3b3b3b;
  font-size: 18px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.top_nav .search:hover {
  color: #ff7a18;
  text-decoration: none !important;
}
@media screen and (max-width: 991px) {
  .top_nav {
    display: block;
    background: #ff7a18;
    width: 80%;
    min-width: 320px;
    height: 100%;
    padding: 50px 0 50px 5%;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: scroll;
    text-transform: uppercase;
    font-size: 24px;
    opacity: 0;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
  }
  .top_nav.active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    opacity: 1;
  }
  .top_nav > li {
    display: block;
    margin-bottom: 40px;
  }
  .top_nav > li a {
    position: relative;
    color: #ffffff;
    font-size: 24px;
  }
  .top_nav > li a.active {
    color: #ffffff;
  }
  .top_nav > .close_toggle {
    position: absolute;
    top: 25px;
    right: 10%;
    cursor: pointer;
  }
  .top_nav .search i {
    color: #ffffff;
  }
  .top_nav .close_toggle {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 50px;
    top: 40px;
  }
  .top_nav .close_toggle img {
    max-width: 80%;
  }
}
@media screen and (max-width: 991px) {
  header .main_header {
    height: 105px;
    padding: 10px 0;
    background: transparent;
    border: none;
  }
  header .brand {
    display: block;
    margin: 0 auto;
  }
  header .brand .media-heading {
    font-size: 30px;
    color: #ff7a18;
  }
  header .brand .media {
    overflow: visible;
  }
  header .brand .media .media-body {
    vertical-align: top;
  }
}
.header_mobile {
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
}
.header_mobile .nav_mobile {
  display: block;
  padding: 35px 0;
}
.header_mobile .nav_mobile > span {
  display: block;
  width: 40px;
  height: 4px;
  background: #3b3b3b;
  margin-bottom: 8px;
}
.header_mobile .logo_mobile {
  display: inline-block;
  padding: 17px 0;
}
.header_mobile .logo_mobile .brand {
  margin-right: 10px;
}
.header_mobile .logo_mobile .brand_text h3 {
  color: #ff7a18;
  font-family: 'roboto_medium';
  font-size: 30px;
  margin: 15px 0 5px 0;
}
.header_mobile .cart_mobile {
  padding-top: 30px;
}
header.border {
  border-bottom: 1px solid #f2f2f2;
}
@media screen and (max-width: 991px) {
  header.border {
    border: none;
  }
}
.main_header {
  height: 55px;
  border-bottom: 1px solid #f2f2f2;
}
.second_header {
  padding: 50px;
}
.second_header .brand .media-body {
  vertical-align: middle;
}
.second_header .brand .brand_caption {
  font-size: 30px;
  color: #ff7a18;
}
.second_header .header_contact h3 {
  font-size: 22px;
  line-height: 1.4;
}
.second_header .header_contact,
.second_header .header_adress {
  padding-top: 10px;
}
.second_header .header_cart {
  padding-top: 15px;
}
.second_header .header_cart .media {
  overflow: visible;
}
.second_header .header_cart .media-body {
  vertical-align: middle;
  padding-left: 20px;
}
.second_header .header_cart span strong {
  font-family: 'open_sans_bold';
}
.second_header > .container > .row > div:not(:last-of-type) {
  position: relative;
}
.second_header > .container > .row > div:not(:last-of-type)::after {
  content: '';
  display: block;
  width: 1px;
  height: 55px;
  background: #f2f2f2;
  position: absolute;
  right: 50px;
  top: 10%;
}
@media screen and (max-width: 360px) {
  .header_mobile .logo_mobile .brand {
    padding-top: 12px;
  }
  .header_mobile .logo_mobile .brand img {
    width: 35px;
  }
}
.carousel {
  position: relative;
}
.main_carousel .carousel-indicators {
  top: 40%;
  left: 10%;
  width: auto;
  height: auto;
  margin-left: auto;
}
.main_carousel .carousel-indicators > li {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #ff7a18;
}
.main_carousel .carousel-indicators > li.active {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  background: #ff7a18;
}
.main_carousel .carousel-indicators li {
  display: block;
}
@media screen and (max-width: 991px) {
  .main_carousel .carousel-indicators {
    width: 100%;
    top: auto;
    left: 0;
    bottom: 35px;
    text-align: center;
  }
  .main_carousel .carousel-indicators li {
    display: inline-block;
  }
}
.main_carousel .carousel-inner .item {
  background: url('../img/main_carousel_item_1.png') no-repeat;
  background-size: cover;
  height: 520px;
}
.main_carousel .carousel-inner .item .carousel-caption {
  top: 15%;
  bottom: auto;
  left: 19%;
  right: auto;
  text-align: left;
}
.main_carousel .carousel-inner .item .carousel-caption h2.small {
  font-family: 'roboto_thin';
  color: #3b3b3b;
  text-shadow: none;
}
.main_carousel .carousel-inner .item .carousel-caption h1.larg {
  font-family: 'raleway_black';
  color: #9eda36;
  text-shadow: none;
}
.main_carousel .carousel-inner .item .carousel-caption h2.larg {
  font-family: 'roboto_thin';
  color: #3b3b3b;
  text-shadow: none;
}
.main_carousel .carousel-inner .item .carousel-caption .example_text {
  font-size: 16px;
  text-shadow: none;
  margin-top: 100px;
  position: relative;
}
.main_carousel .carousel-inner .item .carousel-caption .example_text::before {
  content: '';
  display: block;
  position: absolute;
  top: -50px;
  width: 50px;
  background: #3b3b3b;
  height: 2px;
}
@media screen and (max-width: 991px) {
  .main_carousel .carousel-inner .item .carousel-caption .example_text {
    margin-top: 40px;
  }
  .main_carousel .carousel-inner .item .carousel-caption .example_text::before {
    display: none;
  }
}
@media screen and (max-width: 610px) {
  .main_carousel .carousel-inner .item .carousel-caption {
    left: 5%;
  }
}
.category_controls {
  position: absolute;
  right: 20px;
  top: 60px;
}
.category_controls a {
  opacity: .7;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.category_controls a:hover {
  opacity: 1;
}
.category_controls a:first-child {
  margin-right: 10px;
}
#categoryCarousel .carousel-inner {
  height: 500px;
}
@media screen and (max-width: 991px) {
  #categoryCarousel .carousel-inner {
    height: auto;
    margin-bottom: 50px;
  }
}
.circle_control {
  width: 40px;
  height: auto;
  top: 60px;
}
@media screen and (max-width: 991px) {
  .circle_control.right {
    right: 5%;
  }
  .circle_control.left {
    left: 5%;
  }
}
#mobileBottomCarousel {
  padding: 0 30px;
}
#previewCarousel .item {
  height: 390px;
}
#previewCarousel .item img {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  #previewCarousel .carousel-indicators {
    width: 60% !important;
    margin-left: -30% !important;
    width: auto;
    height: auto;
    margin-left: auto;
  }
  #previewCarousel .carousel-indicators > li {
    padding: 0;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid #ff7a18;
  }
  #previewCarousel .carousel-indicators > li.active {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
    background: #ff7a18;
  }
  #previewCarousel .carousel-indicators li {
    border-color: #ff7a18;
  }
}
.carousel_preview .carousel-indicators {
  position: relative;
  bottom: auto;
  left: auto;
  margin-left: auto;
  width: 100%;
}
.carousel_preview .carousel-indicators li {
  width: 25%;
  height: 75px;
  display: block;
  float: left;
  margin: 0;
  border: 1px solid #f2f2f2;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 10px 0;
}
.carousel_preview .carousel-indicators li img {
  display: block;
  margin: 0 auto;
}
.carousel_preview .carousel-indicators li.green_bord {
  border-color: #9eda36;
}
.prev_control {
  bottom: 95px;
  top: auto;
}
.shop_items .wrapper {
  padding: 15px 0;
  padding-left: 10px;
  overflow: visible;
}
.shop_items .shop_item {
  position: relative;
  width: 90%;
  height: 370px;
  padding: 40px 0;
  cursor: pointer;
  box-shadow: 0 0 10px 6px #f9f9f9;
  -webkit-box-shadow: 0 0 10px 6px #f9f9f9;
  -moz-box-shadow: 0 0 10px 6px #f9f9f9;
  -o-box-shadow: 0 0 10px 6px #f9f9f9;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.shop_items .shop_item:hover {
  box-shadow: inset 0 0 0 1px #ff7a18;
  -webkit-box-shadow: inset 0 0 0 1px #ff7a18;
  -moz-box-shadow: inset 0 0 0 1px #ff7a18;
  -o-box-shadow: inset 0 0 0 1px #ff7a18;
}
.shop_items .shop_item:not(:first-child) {
  margin-left: 20px;
}
.shop_items .shop_item .item_title {
  height: 45px;
  padding: 0 35px;
  margin-bottom: 25px;
}
.shop_items .shop_item .item_title p {
  font-size: 16px;
}
.shop_items .shop_item .item_thumb {
  height: 190px;
}
.shop_items .shop_item .item_price {
  margin-top: 15px;
  padding: 0 35px;
  padding-right: 20px;
}
.shop_items .shop_item .item_price h3 {
  font-family: 'roboto_thin';
}
.shop_items .shop_item .item_price h3 i {
  font-size: 20px;
  font-weight: 100;
}
.shop_items .shop_item .hide_btn {
  padding-top: 15px;
  position: absolute;
  bottom: -55px;
  height: 85px;
  width: 100%;
  display: none;
  opacity: 0;
  z-index: 1000;
  background: #ffffff;
  box-shadow: inset 0 -1px 0 1px #ff7a18;
  -webkit-box-shadow: inset 0 -1px 0 1px #ff7a18;
  -moz-box-shadow: inset 0 -1px 0 1px #ff7a18;
  -o-box-shadow: inset 0 -1px 0 1px #ff7a18;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.shop_items .shop_item:hover .hide_btn {
  display: block;
  opacity: 1;
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .shop_items .shop_item {
    width: 97%;
  }
  .shop_items .shop_item .item_price h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .shop_items .shop_item {
    margin-bottom: 20px;
    height: 455px;
  }
  .shop_items .shop_item .item_btn {
    margin-top: 30px;
  }
  .shop_items .shop_item .hide_btn {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  .shop_items .wrapper {
    width: 100%;
  }
  .shop_items .wrapper .shop_item {
    padding-left: 0;
    display: block;
    margin: 0 auto;
  }
  .shop_items .wrapper .shop_item .item_thumb img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
}
.shop_items_inline > .container {
  border: 1px solid #f2f2f2;
}
.shop_items_inline .shop_item {
  padding: 20px 30px;
  border-bottom: 1px solid #f2f2f2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.base_btn {
  width: 200px;
  font-size: 18px;
  font-family: 'roboto_light';
  text-transform: uppercase;
  padding: 12px 0;
  cursor: pointer;
  text-align: center;
  background: #ff7a18;
  color: #ffffff;
  border: none;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.base_btn:hover {
  background: #fe6c00;
  color: #ffffff;
  text-decoration: none;
}
.base_btn.order_btn {
  background-image: url('../img/order_icon.png');
  background-repeat: no-repeat;
  background-position: 10% 50%;
  padding-left: 15px;
}
.base_btn.lg {
  width: 260px;
}
@media screen and (max-width: 1200px) {
  .base_btn.lg {
    width: 200px;
  }
}
.base_btn.small {
  width: 180px;
}
.base_btn.no_cent {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 991px) {
  .base_btn.mob_lg {
    width: 100%;
    font-size: 28px;
    font-family: 'roboto_medium';
  }
}
@media screen and (max-width: 991px) {
  .base_btn.mob_lg.order_btn {
    background-position: 35%;
  }
}
@media screen and (max-width: 635px) {
  .base_btn.mob_lg.order_btn {
    background-position: 25%;
  }
}
@media screen and (max-width: 450px) {
  .base_btn.mob_lg.order_btn {
    background-position: 20%;
  }
}
@media screen and (max-width: 400px) {
  .base_btn.mob_lg.order_btn {
    background-position: 5%;
  }
}
.btn_transparent {
  display: block;
  width: 200px;
  font-size: 18px;
  font-family: 'roboto_light';
  text-transform: uppercase;
  padding: 12px 0;
  cursor: pointer;
  text-align: center;
  background: transparent;
  color: #ff7a18;
  border: 2px solid #ff7a18;
  font-weight: 900;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn_transparent:hover {
  color: #ffffff;
  background-color: #ff7a18;
  text-decoration: none !important;
}
.btn_transparent i {
  margin-left: 20px;
  font-size: 25px;
}
@media screen and (max-width: 991px) {
  .btn_transparent.btn_mob_medium {
    width: 260px;
    padding: 10px 0;
  }
  .btn_transparent.btn_mob_medium i {
    display: inline-block !important;
  }
}
@media screen and (max-width: 991px) {
  .btn_transparent.mob_small {
    width: 50% !important;
    background-image: url('../img/btn_arr.png');
    background-position: 90%;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 430px) {
  .btn_transparent.mob_small {
    width: 100% !important;
  }
}
.social_count {
  margin-top: 30px;
}
.social_count .soc_count {
  width: 100px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.social_count .soc_count i {
  display: inline-block;
}
.social_count .soc_count::after {
  content: '';
  display: table;
  clear: both;
}
.social_count .soc_count span {
  height: 40px;
  padding: 10px 0;
  color: #ffffff;
  display: block;
  float: left;
  width: 50%;
}
.social_count .soc_count span:first-of-type {
  border-right: 1px solid #7489b6;
}
.social_count .soc_count.fb_count {
  background: #3b5998;
}
.social_count .soc_count.vk_count {
  background: #5b7fa6;
}
.social_count .soc_count.tw_count {
  background: #57ccff;
}
.social_count .soc_count:hover {
  filter: brightness(110%);
  -moz-filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
form.base_form input:not([type="submit"]),
form.base_form textarea {
  background: #ffffff;
  padding: 20px 30px;
  border: 1px solid #f2f2f2;
  width: 100%;
  margin-bottom: 15px;
}
form.base_form input:not([type="submit"])::-webkit-input-placeholder,
form.base_form textarea::-webkit-input-placeholder {
  color: #acacac;
  font-size: 16px;
}
form.base_form input:not([type="submit"])::-moz-placeholder,
form.base_form textarea::-moz-placeholder {
  color: #acacac;
  font-size: 16px;
}
form.base_form input:not([type="submit"]):-moz-placeholder,
form.base_form textarea:-moz-placeholder {
  color: #acacac;
  font-size: 16px;
}
form.base_form input:not([type="submit"])::-moz-placeholder,
form.base_form textarea::-moz-placeholder {
  color: #acacac;
  font-size: 16px;
}
form.base_form input:not([type="submit"]):-moz-placeholder,
form.base_form textarea:-moz-placeholder {
  color: #acacac;
  font-size: 16px;
}
@media screen and (min-width: 991px) {
  form.base_form input:not([type="submit"]).small,
  form.base_form textarea.small {
    width: 48%;
  }
  form.base_form input:not([type="submit"]).inline_input,
  form.base_form textarea.inline_input {
    display: inline-block;
  }
  form.base_form input:not([type="submit"]).inline_input:first-of-type,
  form.base_form textarea.inline_input:first-of-type {
    margin-right: 2%;
  }
}
form.base_form input[type="submit"] {
  width: 50%;
  margin: 20px 0 0 0;
  font-family: 'roboto_light';
}
@media screen and (min-width: 991px) {
  form.base_form input[type="submit"].small {
    width: 30%;
  }
}
@media screen and (max-width: 991px) {
  form.base_form input:not([type="submit"])::-webkit-input-placeholder,
  form.base_form textarea::-webkit-input-placeholder {
    color: #acacac;
    font-size: 18px;
  }
  form.base_form input:not([type="submit"])::-moz-placeholder,
  form.base_form textarea::-moz-placeholder {
    color: #acacac;
    font-size: 18px;
  }
  form.base_form input:not([type="submit"]):-moz-placeholder,
  form.base_form textarea:-moz-placeholder {
    color: #acacac;
    font-size: 18px;
  }
  form.base_form input:not([type="submit"])::-moz-placeholder,
  form.base_form textarea::-moz-placeholder {
    color: #acacac;
    font-size: 18px;
  }
  form.base_form input:not([type="submit"]):-moz-placeholder,
  form.base_form textarea:-moz-placeholder {
    color: #acacac;
    font-size: 18px;
  }
  form.base_form input[type="submit"] {
    width: 100%;
  }
}
form.base_form.small_marg input:not([type="submit"]),
form.base_form.small_marg textarea {
  margin-bottom: 8px;
}
form.base_form .capch_input input:not([type="submit"]) {
  width: 115px;
  margin-right: 30px;
  padding: 15px;
}
form.base_form .capch_input img {
  margin-right: 15px;
}
form.base_form .capch_input input[type="submit"] {
  margin: 0;
}
@media screen and (max-width: 1200px) {
  form.base_form .capch_input input:not([type="submit"]) {
    margin-right: 10px;
  }
}
form.small_form {
  width: 100%;
  background: #ffffff;
}
form.small_form input:not([type="submit"]),
form.small_form textarea {
  width: 100%;
  border: 1px solid #f2f2f2;
  padding: 15px 20px;
  margin-bottom: 10px;
}
form.small_form input[type="submit"] {
  border: none;
  width: 100%;
}
.form_heading {
  margin-bottom: 35px;
}
.form_heading p,
.form_heading h2 {
  display: inline-block;
}
.form_heading p {
  margin-right: 15px;
}
.form_heading i.fa-ruble {
  font-size: 30px;
}
@media screen and (max-width: 991px) {
  .form_heading {
    text-align: center;
  }
}
.modal-dialog.modal-xs {
  width: 300px;
}
.modal-dialog .modal-content {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.modal-dialog .modal-content .modal-header {
  padding-bottom: 0;
  border: none;
}
.modal-dialog .modal-content .modal-header .close {
  width: auto;
  height: auto;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.modal-dialog .modal-content .modal-header .close:hover {
  color: #ff7a18;
  text-decoration: none !important;
}
.modal-dialog .modal-content .modal-header .close:hover {
  opacity: 1;
}
.breadcoumbs {
  margin-top: 30px;
}
.breadcoumbs ul li {
  display: inline-block;
  margin-right: 9px;
}
.breadcoumbs ul li a,
.breadcoumbs ul li i {
  color: #acacac;
}
html.poor_vision div,
html.poor_vision a {
  background: none !important;
  box-shadow: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
html.poor_vision h1,
html.poor_vision h2,
html.poor_vision h3,
html.poor_vision h4,
html.poor_vision h5,
html.poor_vision p,
html.poor_vision span,
html.poor_vision a,
html.poor_vision li,
html.poor_vision input {
  color: #3b3b3b !important;
  text-shadow: none !important;
}
html.poor_vision a {
  text-decoration: underline !important;
  border: none !important;
}
html.poor_vision li {
  border: 1px solid #3b3b3b !important;
}
html.poor_vision div,
html.poor_vision a {
  border-color: #3b3b3b !important;
}
html.poor_vision form {
  padding: 30px !important;
  border: 1px solid #3b3b3b !important;
}
html.poor_vision form input,
html.poor_vision form textarea {
  border: 1px solid #3b3b3b !important;
  background: none !important;
}
html.poor_vision #map {
  display: none !important;
}
html.poor_vision footer {
  background: transparent !important;
}
html.poor_vision .poor_full_width {
  width: 100% !important;
  padding-left: 0 !important;
}
html.poor_vision .poor_padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
html.poor_vision .poor_padding_y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
html.poor_vision .poor_height_auto {
  height: auto !important;
}
html.poor_vision .poor_none {
  display: none !important;
}
html.poor_vision form,
html.poor_vision .modal {
  background: #ffffff !important;
}
html.poor_vision .img_off img {
  visibility: hidden !important;
}
html.poor_vision .img_on img {
  visibility: visible !important;
}
.poor_btn {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000000000;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.poor_btn.black i {
  color: #3b3b3b;
}
.poor_btn i {
  color: #ffffff;
  font-size: 50px;
}
.poor_panel {
  position: fixed;
  right: 50px;
  top: 0;
  z-index: 1000000000;
  cursor: pointer;
}
.poor_panel a {
  text-decoration: underline;
}
.poor_panel a#normalVision {
  font-size: 30px !important;
}
.poor_panel #smallSize {
  font-size: 17px !important;
}
.poor_panel #mediumSize {
  font-size: 32px !important;
}
.poor_panel #largeSize {
  font-size: 39px !important;
}
.poor_panel .resize_btn {
  text-decoration: none !important;
}
.poor_panel .resize_btn.active {
  text-decoration: underline !important;
}
.poor_panel .contrast_btn {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.poor_panel .contrast_btn#black {
  background: #3b3b3b !important;
}
.poor_panel .contrast_btn#blue {
  background: #9dd1ff !important;
}
.poor_panel .contrast_btn#white {
  background: #ffffff !important;
  border: 1px solid #f2f2f2 !important;
}
html.poor_vision body.black_body {
  background: #3b3b3b;
}
html.poor_vision body.black_body h1,
html.poor_vision body.black_body h2,
html.poor_vision body.black_body h3,
html.poor_vision body.black_body h4,
html.poor_vision body.black_body h5,
html.poor_vision body.black_body p,
html.poor_vision body.black_body span,
html.poor_vision body.black_body a,
html.poor_vision body.black_body li {
  color: #ffffff !important;
}
html.poor_vision body.black_body .modal,
html.poor_vision body.black_body form {
  background: #000000 !important;
}
html.poor_vision body.black_body input,
html.poor_vision body.black_body textarea {
  color: #ffffff !important;
}
html.poor_vision body.black_body input::-webkit-input-placeholder,
html.poor_vision body.black_body textarea::-webkit-input-placeholder {
  color: #ffffff !important;
}
html.poor_vision body.black_body input::-moz-placeholder,
html.poor_vision body.black_body textarea::-moz-placeholder {
  color: #ffffff !important;
}
html.poor_vision body.black_body input:-moz-placeholder,
html.poor_vision body.black_body textarea:-moz-placeholder {
  color: #ffffff !important;
}
html.poor_vision body.black_body div,
html.poor_vision body.black_body a,
html.poor_vision body.black_body input {
  border-color: #ffffff !important;
}
html.poor_vision body.blue_body {
  background: #9dd1ff !important;
}
html.poor_vision body.blue_body .modal,
html.poor_vision body.blue_body form {
  background: #9dd1ff !important;
}
html.poor_vision body h1,
html.poor_vision body h2,
html.poor_vision body h3,
html.poor_vision body h4,
html.poor_vision body h5,
html.poor_vision body p,
html.poor_vision body span,
html.poor_vision body a,
html.poor_vision body li,
html.poor_vision body input {
  color: #063462 !important;
}
html.poor_vision body.large_size p {
  font-size: 28px !important;
}
html.poor_vision body.large_size span {
  font-size: 23.8px !important;
}
html.poor_vision body.large_size a {
  font-size: 28px !important;
}
html.poor_vision body.large_size h3 {
  font-size: 52px !important;
}
html.poor_vision body.large_size h2 {
  font-size: 72px !important;
}
html.poor_vision body.large_size h4 {
  font-size: 36px !important;
}
html.poor_vision body.large_size input,
html.poor_vision body.large_size textarea {
  font-size: 28px !important;
}
html.poor_vision body.large_size input::-webkit-input-placeholder,
html.poor_vision body.large_size textarea::-webkit-input-placeholder {
  font-size: 28px !important;
}
html.poor_vision body.large_size input::-moz-placeholder,
html.poor_vision body.large_size textarea::-moz-placeholder {
  font-size: 28px !important;
}
html.poor_vision body.large_size input:-moz-placeholder,
html.poor_vision body.large_size textarea:-moz-placeholder {
  font-size: 14px !important;
}
html.poor_vision body.medium_size p {
  font-size: 21px !important;
}
html.poor_vision body.medium_size span {
  font-size: 18.2px !important;
}
html.poor_vision body.medium_size a {
  font-size: 21px !important;
}
html.poor_vision body.medium_size h3 {
  font-size: 39px !important;
}
html.poor_vision body.medium_size h2 {
  font-size: 54px !important;
}
html.poor_vision body.medium_size h4 {
  font-size: 27px !important;
}
html.poor_vision body.medium_size input,
html.poor_vision body.medium_size textarea {
  font-size: 21px !important;
}
html.poor_vision body.medium_size input::-webkit-input-placeholder,
html.poor_vision body.medium_size textarea::-webkit-input-placeholder {
  font-size: 21px !important;
}
html.poor_vision body.medium_size input::-moz-placeholder,
html.poor_vision body.medium_size textarea::-moz-placeholder {
  font-size: 21px !important;
}
html.poor_vision body.medium_size input:-moz-placeholder,
html.poor_vision body.medium_size textarea:-moz-placeholder {
  font-size: 14px !important;
}
