.base_btn {
  .btn_style();
  background: @base_color;
  color: @white;
  border: none;
  .margin_align();
  .btn_hov();
  &.order_btn {
    background-image: url('../img/order_icon.png');
    background-repeat: no-repeat;
    background-position: 10% 50%;
    padding-left: 15px;
  }
  &.lg {
    width: 260px;
   @media screen and (max-width: 1200px) {
     width: 200px;
   }
  }
  &.small {
    width: 180px;
  }
  &.no_cent {
    margin-left: 0;
    margin-right: 0;
  }
  &.mob_lg {
    @media screen and (max-width: 991px) {
      width: 100%;
      font-size: @h2_small - 2;
      font-family: @mediumFont;
    }
    &.order_btn {
      @media screen and (max-width: 991px) {
        background-position: 35%;
      }
      @media screen and (max-width: 635px) {
        background-position: 25%;
      }
      @media screen and (max-width: 450px) {
        background-position: 20%;
      }
      @media screen and (max-width: 400px) {
        background-position: 5%;
      }
    }
  }
}
.btn_transparent {
  .btn_style();
  background: transparent;
  color: @base_color;
  border: 2px solid @base_color;
  font-weight: 900;
  .btn_hover();
  i {
    margin-left: 20px;
    font-size: 25px;
  }
  &.btn_mob_medium {
    @media screen and (max-width: 991px) {
      width: 260px;
      padding: 10px 0;
      i {
        display: inline-block !important;
      }
    }
  }
  &.mob_small {
    @media screen and (max-width: 991px) {
      width: 50% !important;
      background-image: url('../img/btn_arr.png');
      background-position: 90%;
      background-repeat: no-repeat;
    }
    @media screen and (max-width: 430px) {
      width: 100% !important;
    }
  }
}

// social count
.social_count {
  margin-top: 30px;
.soc_count {
  width: 100px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  i {
    display: inline-block;
  }
  .align();
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  span {
    height: 40px;
    padding: 10px 0;
    color: @white;
    display: block;
    float: left;
    width: 50%;
    &:first-of-type {
      border-right: 1px solid #7489b6;
    }
  }
  &.fb_count {
    background: #3b5998;
  }
  &.vk_count {
    background: #5b7fa6;
  }
  &.tw_count {
    background: #57ccff;
  }
  .img_hover();
}
}

