.carousel {
  position: relative;
}
.main_carousel {
  .carousel-indicators {
    top: 40%;
    left: 10%;
    .carousel_indicators_style(10px, 10px);
    li {
      display: block;
    }
    @media screen and (max-width: 991px) {
      width: 100%;
      top: auto;
      left: 0;
      bottom: 35px;
      .align();
      li {
        display: inline-block;
      }
    }
  }
  .carousel-inner {
    .item {
      .cover('../img/main_carousel_item_1.png');
      height: @carousel_height;
      .carousel-caption {
        top: 15%;
        bottom: auto;
        left: 19%;
        right: auto;
        .align(left);
        h2.small {
          font-family: @ultraLightFont;
          color: @black;
          text-shadow: none;
        }
        h1.larg {
          font-family: @ultraBoldFont;
          color: @second_base_color;
          text-shadow: none;
        }
        h2.larg {
        font-family: @ultraLightFont;
          color: @black;
          text-shadow: none;
        }
        .example_text {
          font-size: @baseFontSize + 2;
          text-shadow: none;
          margin-top: 100px;
          .separate(50px, @black, -50px);
        }
      }
    }
    @media screen and (max-width: 991px) {
      .item {
      .carousel-caption {
        .example_text {
          margin-top: 40px;
          &::before {
            display: none;
            }
          }
        }
      }
    }
  }
}
.category_controls {
  position: absolute;
  right: 20px;
  top: 60px;
  a {
    opacity: .7;
    .transition_fast();
    &:hover {
      opacity: 1;
    }
    &:first-child {
      margin-right: 10px;
    }
  }
}
#categoryCarousel {
  .carousel-inner {
    height: 500px;
    @media screen and (max-width: 991px) {
      height: auto;
      margin-bottom: 50px;
    }
  }
}
.circle_control {
  width: 40px;
  height: auto;
  top: 60px;
}
#mobileBottomCarousel {
  padding: 0 30px;
}
// previewCarousel
#previewCarousel {
  .item {
    height: 390px;
    img {
      .margin_align();
    }
  }
  @media screen and (max-width: 991px) {
    .carousel-indicators {
      width: 60% !important;
      margin-left: -30% !important;
      .carousel_indicators_style(10px, 10px);
      li {
        border-color: @base_color;
      }
    }
  }
}
.carousel_preview {
  .carousel-indicators {
    position: relative;
    bottom: auto;
    left: auto;
    margin-left: auto;
    width: 100%;
    li {
      width: 25%;
      height: 75px;
      display: block;
      float: left;
      margin: 0;
      border: 1px solid @bord_color;
      .radius(0);
      padding: 10px 0;
      img {
        .margin_align();
      }
      &.green_bord {
        border-color: @second_base_color;
      }
    }
  }
}

.prev_control {
  bottom: 95px;
  top: auto;
}
// previewCarousel
