.shop_items {
  .wrapper {
    padding: 15px 0;
    padding-left: 10px;
    overflow: visible;
  }
  .shop_item {
    position: relative;
    width: 90%;
    height: @item_height;
    padding: 40px 0;
    cursor: pointer;
    .shadow(0 0 10px 6px @shadow_color);
    .shadow_hover(@base_color, 1px);
    &:not(:first-child) {
      margin-left: 20px;
    }
    .item_title {
      height: 45px;
      padding: 0 35px;
      margin-bottom: 25px;
      p {
        font-size: @baseFontSize + 2;
      }
    }
    .item_thumb {
      height: 190px;
    }
    .item_price {
      margin-top: 15px;
      padding: 0 35px;
      padding-right: 20px;
      h3 {
        font-family: @ultraLightFont;
        i {
          font-size: 20px;
          font-weight: 100;
        }
      }
    }
    .hide_btn {
      padding-top: 15px;
      position: absolute;
      bottom: -55px;
      height: 85px;
      width: 100%;
      display: none;
      opacity: 0;
      z-index: 1000;
      background: @white;
      .shadow(inset 0 -1px 0 1px @base_color);
      .transition();
    }
    &:hover {
      .hide_btn {
        display: block;
        opacity: 1;
      }
    }
    @media screen and (min-width: 991px) and (max-width: 1200px) {
      width: 97%;
      .item_price {
        h3 {
          font-size: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .shop_item {
      margin-bottom: 20px;
      height: 455px;
      .item_btn {
        margin-top: 30px;
      }
      .hide_btn {
        display: none !important;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper {
      width: 100%;
      .shop_item {
        padding-left: 0;
        .margin_align();
        .item_thumb {
          img {
            max-width: 200px;
            .margin_align();
          }
        }
      }
    }
  }
}
.shop_items_inline {
  & > .container {
    border: 1px solid @bord_color;
  }
  .shop_item {
    padding: 20px 30px;
    border-bottom: 1px solid @bord_color;
    .flex-align();
  }
}