.accordion_menu {
  padding: 19px;
  cursor: pointer;
  position: relative;
  width: 50%;
  height: @header_height;
  .align();
  h4 {
    color: @white;
  }
  .second_level_menu {
    display: none;
  }
}