.news {
background: @backgroundGray;
  padding: 70px 0 70px 0;
  &.news_widget {
    margin-bottom: 30px;
  }
  .section_capt {
    margin-bottom: 45px;
    margin-top: -25px;
  }
  .news_list {
    padding: 0 120px 0 55px;
    border: 8px solid transparent;
    .border_img(url('../img/news_border.png') 10 round round);
    padding-bottom: 45px;
    .news_date {
      margin-bottom: 20px;
      span {
        font-size: @baseFontSize + 6;
      }
      i {
        color: @base_color;
        font-size: 26px;
        margin-left: 15px;
        vertical-align: middle;
        padding-bottom: 5px;
      }
    }
  }
  .news_lg_item {
    padding: 0 100px 0 55px;
    .news_title {

      margin-top: 20px;
      margin-bottom: 45px;
    }
    .news_content {
      p {
        margin-bottom: 45px;
        &:last-of-type {
          margin-bottom: 65px;
        }
      }
    }
  }
  .news_content {
    line-height: 1.7;
  }
  @media screen and (max-width: 991px) {
    padding-bottom: 50px;
    .section_capt {
      margin-top: 0;
    }
    .news_list {
      border: 8px solid @second_base_color;
      .border_img(none);
      padding-top: 35px;
      .news_date {
        span {
          color: @black;
        }
      }
      .news_content {
        p {
          font-size: @baseFontSize + 2;
        }
      }
    }
    .news_lg_item {
      padding-top: 50px;
    }
  }
}

.category {
  &.category_widget {
    margin-bottom: 90px;
  }
  .category_wrapper {
    &:not(:first-of-type) {
      padding-left: 30px;
    }
    .category_item {
      display: block;
      height: 220px;
      position: relative;
      .align(right);
      &.blue {
        background: @blue;
      }
      &.green {
        background: @second_base_color;
      }
      &.orange {
        background: @base_color;
      }
      &.yellow {
        background: @yellow;
      }
      img {
        display: inline-block;
      }
      .item_summary {
        display: inline-block;
        position: absolute;
        left: 10%;
        bottom: 30px;
        padding: 10px 15px;
        background: @lightBlack;
        color: @white;
        font-family: @mediumFont;
        font-size: @baseFontSize + 6;
      }
    }
  }
}

.video {
  .cover('../img/video_cover.jpg');
  padding-bottom: 60px;
  @media screen and (max-width: 991px) {
   iframe {
     height: 305px;
   }
  }
}

footer {
padding-top: 85px;
  background: @footer_color;
  .footer_phone {
    h3 {
      font-size: @h3_size - 4;
    }
  }
  i {
    .rotate_hov();
  }
}
