.news {
background: @backgroundGray;
  padding: 70px 0 70px 0;
  &.news_widget {
    margin-bottom: 30px;
  }
  .section_capt {
    margin-bottom: 45px;
    margin-top: -25px;
    padding: 0;
  }
  .news_list {
    padding: 0 120px 0 55px;
    border: 8px solid transparent;
    .border_img(url('../img/news_border.png') 10 round round);
    padding-bottom: 45px;
    .news_date {
      margin-bottom: 20px;
      span {
        font-size: @baseFontSize + 6;
      }
      i {
        color: @base_color;
        font-size: 26px;
        margin-left: 15px;
        vertical-align: middle;
        padding-bottom: 5px;
      }
    }
  }
  .news_lg_item {
    padding: 0 100px 0 55px;
    .news_title {

      margin-top: 20px;
      margin-bottom: 45px;
    }
    .news_content {
      p {
        margin-bottom: 45px;
        &:last-of-type {
          margin-bottom: 65px;
        }
      }
    }
  }
  .news_content {
    line-height: 1.7;
  }
  @media screen and (min-width: 991px) {


  }
  @media screen and (min-width: 991px) and (max-width: 1200px) {
    .news_list {
      padding-left: 25px;
    }
  }
  @media screen and (max-width: 991px) {
    padding-bottom: 50px;
    &.news_widget {
      margin-bottom: 0;
    }
    .section_capt {
      margin-top: 0;
    }
    .news_list {
      border: 8px solid @second_base_color;
      .border_img(none);
      padding-top: 35px;
      .news_date {
        span {
          color: @black;
        }
      }
      .news_content {
        p {
          font-size: @baseFontSize + 2;
        }
      }
    }
    .news_lg_item {
      padding-top: 50px;
    }
  }
}

.category {
  &.category_widget {
    margin-bottom: 90px;
  }
  .category_wrapper {
    &:not(:first-of-type) {
      padding-left: 30px;
    }
    .category_item {
      display: block;
      height: 220px;
      position: relative;
      .align(right);
      &.blue {
        background: @blue;
      }
      &.green {
        background: @second_base_color;
      }
      &.orange {
        background: @base_color;
      }
      &.yellow {
        background: @yellow;
      }
      img {
        display: inline-block;
      }
      .item_summary {
        display: inline-block;
        position: absolute;
        left: 10%;
        bottom: 30px;
        padding: 10px 15px;
        background: @lightBlack;
        color: @white;
        font-family: @mediumFont;
        font-size: @baseFontSize + 6;
      }
    }
  }
}

.video {
  .cover('../img/video_cover.jpg');
  padding-bottom: 60px;
  @media screen and (max-width: 991px) {
   iframe {
     height: 305px;
   }
  }
}

footer {
padding-top: 85px;
  background: @footer_color;
  .footer_phone {
    h3 {
      font-size: @h3_size - 4;
    }
  }
  i {
    .rotate_hov();
  }
  @media screen and (max-width: 991px) {
    padding-left: 25px;
    padding-top: 70px;
    .footer_copy {
      span {
        font-size: @baseFontSize + 2;
      }
    }
    .footer_phone {
      h3 {
        margin-bottom: 30px;
      }
    }
  }
}
.contacts_page {
  margin-bottom: 90px;
  @media screen and (max-width: 991px) {
    margin-bottom: 5px;
  }
}
.contact_info {
  border: 1px solid @bord_color;
  border-bottom: none;
  padding: 45px 0;
  .info_item {
    .align();
    .info_icon {
      height: 75px;
      margin-bottom: 15px;
      i {
        display: inline-block;
      }
    }
  }
  @media screen and (max-width: 991px) {
    border: none;
    .info_item {
      .align(left);
      .info_icon {
        .align();
      }
      .info_text {
        padding-left: 30px;
      }
    }
  }
}

.map_container {
  #map {
    height: 600px;
  }
}
.contact_main {
  .form_container {
    height: 600px;
    padding: 50px 0;
    border: 10px solid transparent;
    .border_img(url('../img/contact_border.png') 10 repeat repeat);
    .contact_form {
      width: 80%;
      margin: 0 auto;
    }
    @media screen and (max-width: 991px) {
      height: auto;
      .border_img(none);
      .contact_form {
        width: 90%;
      }
    }
  }
}

.order_page {
  .form_container {
    border: 1px solid @bord_color;
    margin-bottom: 90px;
    padding: 70px 0;
    .order_form {
      width: 75%;
      margin: 0 auto;
    }
    @media screen and (max-width: 991px) {
      margin-bottom: 5px;
      border: none;
      .order_form {
        width: 85%;
      }
    }
  }
}
.sort_row {
  margin-bottom: 30px;
  padding: 15px 30px;
  .sort {
    li {
      margin-right: 15px;
      a {
        &.active {
          color: @base_color;
        }
      }
    }
  }
  .views {
    li {
      margin-left: 18px;
      a {
        .img_hover();
      }
    }
  }
  @media screen and (max-width: 991px) {
    background: transparent;
    margin: 30px 0;
    padding: 0;
    .sort {
      float: none !important;
      .align();
      a,
      li {
        font-size: @baseFontSize + 2;
      }
    }
  }
}
.catalog_page {
  .shop_items {
    margin-bottom: 63px;
  }
}
.catalog_list {
  .shop_more {
    margin-top: 45px;
  }
  .sort_row {
    margin-bottom: 0;
  }
}

.shop_more {
  margin-bottom: 60px;
  a {
    .margin_align();
  }
}

.cart {
  margin-bottom: 80px;
  & > .container {
    border: 1px solid @bord_color;
  }
  .cart_item {
    .flex-align();
    padding: 70px 50px 30px 50px;
    border-bottom: 1px solid @bord_color;
    .flex-align();
  }
  .result_row {
    padding: 30px 0;
    h2 {
      margin: 15px 0 20px 0;
    }
  }
  @media screen and (max-width: 991px) {
    margin-top: 35px;
    & > .container {
      border: none;
    }
  }
  .count {
    span {
      float: left;
      border: 1px solid @bord_color;
      padding: 12px 0;
      .align();
    }
    .char {
      cursor: pointer;
      width: 45px;
      height: 45px;
    }
    .result {
      width: 70px;
      height: 45px;
    }
  }
  .item_title {
    p {
      line-height: 1.6;
    }
  }
}
.cart_mobile_item {
  width: 80%;
  height: 285px;
  .shadow(@base_shadow);
  .margin_align();
  margin-bottom: 25px;
  & > div {
    height: 285px;
  }
  .item_thumb {
    .flex-align();
    img {
      .margin_align();
    }
  }
  .item_summary {
    padding: 20px 15px 40px 15px;
    .item_title {
      margin-bottom: 30px;
    }
    .count {
      margin-bottom: 30px;
      @media screen and (max-width: 520px) {
        .char {
          width: 35px;
          height: 45px;
        }
        .result {
          width: 45px;
          height: 45px;
        }
      }
    }
  }

}
.mobile_result_row {
  width: 80%;
  .margin_align();
  .result {
    margin-bottom: 35px;
  }
}

.item_page {
  margin-bottom: 90px;
  .item_post {
    margin-bottom: 30px;
    .item_prev {
      width: 48.75%;
      margin-right: 2.5%;
      height: 590px;
      padding: 50px 0 65px 0;
      .shadow(@base_shadow);
    }
  }
  .item_options {
    width: 48.75%;
    height: 590px;
    padding: 45px 0;
    .options_header {
      padding-left: 60px;
      padding-bottom: 30px;
      border-bottom: 1px solid @bord_color;
      h2 {
        margin-bottom: 15px;
      }
      .check  {
        margin-right: 15px;
        vertical-align: middle;
        display: inline-block;
      }
    }
    .option_list {
      padding-left: 60px;
      padding-top: 35px;
      ul {
        li {
          margin-bottom: 15px;
        }
      }
    }
    @media screen and (max-width: 991px) {
      background: transparent;
      height: auto;
      padding-bottom: 0;
      .options_header {
        padding-right: 60px;
        .item_count {
          .align(right);
          span {
            font-size: @baseFontSize + 4;
          }
        }
      }
      .option_list {
        background: @backgroundGray;
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
    @media screen and (max-width: 450px) {
      .options_header {
        padding-left: 20px;
        padding-right: 20px;
      }
      .option_list {
        padding-left: 10px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .item_post {
      .item_prev {
        .shadow(none);
        height: 425px;
      }
    }
  }
}
.item_add_review {
  height: 450px;
  width: 48.75%;
  margin-right: 2.5%;
  padding: 40px;
    .form_heading {
      margin-bottom: 15px;
    }
  .raiting {
    margin-bottom: 20px;
    span {
      margin-right: 20px;
    }
    i {
      color: @textGray;
      margin-right: 5px;
      font-size: 18px;
      cursor: pointer;
      &.active {
        color: @base_color;
      }
    }
  }
  @media screen and (max-width: 991px) {
    height: auto;
    h3 {
      .align(left);
    }
    .raiting {
      i {
        font-size: 25px;
      }
    }
    .btn_transparent {
      float: left !important;
    }
  }
}
 .item_about {
   width: 48.75%;
   padding-left: 60px;
   padding-top: 20px;
   .summary {
     h3 {
       margin-bottom: 20px;
     }
     span {
       line-height: 1.7;
     }
   }
   @media screen and (max-width: 991px) {
     padding-bottom: 60px;
     .summary {
       span {
         font-size: @baseFontSize + 2;
       }
     }
   }
 }
