
// social sprite
.stitches-sprite_social(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}

.sprite_social {
  background-image: url('../img/social_sprite.png');    background-repeat: no-repeat;
  display: block;

  &.sprite_social-social_fb {
    .stitches-sprite_social(-5px, -5px, 30px, 20px);
  }

  &.sprite_social-social_odn {
    .stitches-sprite_social(-5px, -35px, 30px, 20px);
  }

  &.sprite_social-social_vk {
    .stitches-sprite_social(-45px, -5px, 30px, 20px);
  }

  &.sprite_social-social_youtube {
    .stitches-sprite_social(-45px, -35px, 30px, 20px);
  }
}
// social sprite

// contact sprite
.stitches-sprite_contact(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}

.sprite_contact {
  background-image: url('../img/contact_sprite.png');    background-repeat: no-repeat;
  display: block;

  &.sprite_contact-contact_mail {
    .stitches-sprite_contact(-5px, -5px, 55px, 57px);
  }

  &.sprite_contact-contact_marker {
    .stitches-sprite_contact(-70px, -5px, 46px, 56px);
  }

  &.sprite_contact-contact_phone {
    .stitches-sprite_contact(-70px, -71px, 55px, 55px);
  }
}
// contact sprite
